*{
   
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:'raleway', sans-serif;
}

.scorecard{
    height: 940px;
    width: 400px;
    border: 2px solid black;
   
}
.teamsName{
    height: 70px;
    width: 100%;
    background-color: green;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  padding-top: 20px;
  

}
.toss{
    width: 100%;
    height: 40px;
    background-color: rgb(47, 48, 47);
    border: none;
    color: white;
    /* font: size 8px ; */
    text-align: center;
   
    padding: 10px;
   
}

.teamscore{
    border: 1px solid black;
    height: 200px;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;
    color: green;
    

}
.score{
    color: black;
    font-size: 45px;
}
.overs{
    font-size: 20px;
    font-weight: lighter;
}
.batsmen{
    border: 1px solid black;
    height: 150px;
    
    text-align: left;
    padding-top: 10px;
    font-size: 20px;
}
.wordbatsmen{
    font-weight: bolder;
    padding-bottom: 20px;
    font-size: 25px;
}
.scoreball{
    text-align: right;
   
}


.bowler{
    border: 1px solid black;
    height: 83px;
    
    text-align: left;
    padding-top: 8px;
    font-size: 20px;
}
.wordbowler{
    font-weight: bolder;
    padding-bottom: 12px;
    font-size: 25px;
}
.both11{
    display: flex;
    
}
.pak11{
    margin-top: 3px;
 border: 1px solid black;
 width: 50%;
 height: 388px;
}
.pakname{
    border: 2px solid black;
    width: 100%;
    height: 28px;
    color: white;
    background-color: green;
    text-align: center;
    padding-top: 4px;
    font-weight: bold;

}

.nz11{
    margin-top: 3px;
 border: 1px solid black;
 width: 50%;
 height: 388px;
 
}


.nzname{
    border: 2px solid black;
    width: 100%;
    height: 28px;
    color: white;
    background-color: rgb(7, 7, 7);
    text-align: center;
    padding-top: 4px;
    font-weight: bold;

}
.players{
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    padding: 5px;

}
